<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Progreso número {{progreso}}</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-success  progress-bar active progress-bar-striped active" 
                         style=" height:15px;" 
                         [style.width]="getProgreso"
                         role="progreso">
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
 
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> {{progresob}}</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar active progress-bar-striped active" 
                    style=" height:15px;" 
                    [style.width]="getProgresob"
                    role="progresob">
                    </div>
                     
                </div>
            </div>
        </div>
   
  </div>


</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
             <!--Para recibir el evento muy importante no olvidar del "()"" 
             por otro lado tampo olvidar la siguiente sitax  "($event)""-->
             <app-incrementador (valorSalida)="progreso = $event" 
                                 [valor]="progreso">
             </app-incrementador>
               
                
            </div>
        </div>
    </div>
 
    <div class="col-6">
        <div class="card">
            <div class="card-body">
               <app-incrementador-b (valorSalidab)="progresob = $event" 
                                    [valorb]="progresob">
               </app-incrementador-b>

        </div>
   
  </div>

  
</div>