  <div class="row animated fadeIn fast">
    <div class="col-6">
      <app-dona title="Ventas"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [labels]="graficaLabelsA" 
                  [data]="dataA"
                  title="Compras">
        </app-dona>
    </div>
  </div>
  
  
  <div class="row animated fadeIn fast">
    <div class="col-6">
        <app-dona  title="Cambios"></app-dona>
    </div>
    <div class="col-6">
        <app-dona title="CambiosB"></app-dona>
    </div>
  </div>
