/* You can add global styles to this file, and also import other style files */
#themecolors .selector, .cursor{
 cursor: pointer;
}

/*Clase image avatar Road*/
.rounded-circle {
    border-radius: 50%!important;
}
.z-depth-2 {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
}
.img-avatar{
    height: 200px;
    width: 200px;
   
}
/*Clase image avatar Road*/

/**GRIDSSS*/
.w100{
    width: 100px;
}
.avatar{
    border-radius: 100%;
    width: 50px;
}
/*Loading-Personalizado*/

/*Combox tabla Roluser tabla usuarios registrados*/
.w140{
    width: 140px;
}

/*Stilos Modal Imagen*/
.oculto{
    display: none;
}
.fondo-modal-imagen{
    background-color: rgba(0,0,0,0.4);
    left: 0px;
    height:100%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 99999;
}

