  <div class="row animated fadeIn fast">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-search"></i></div>
                 <input type="text"
                        class="form-control"
                        placeholder="Buscar usuario.."
                        (keyup)="buscar(txtTermino.value)"
                        #txtTermino   />
              </div>
              </div>
              <div class="load-bar  animated fadeIn fast"
              *ngIf="cargando">
                  <div class="bar"></div>
                  <div class="bar"></div>
                  <div class="bar"></div>
                 
                </div> 
          </div>
      </div>
    </div>

  
      <div class="row animated fadeIn fast"
       *ngIf="!cargando">
        <div class="col-12">
          <div class="card">
            <div class="card-header bg-theme">
              <h4 class="m-b-0 text-white">Información usuario</h4>
          </div>
              <div class="card-body">
                
                  <h4 class="card-title">Total de usuarios ( {{ totalUsuarios }} ) </h4>
                  <h6 class="card-subtitle">Usuarios registrados</h6>
                  <div class="table-responsive">
                      <table class="table table-bordered">
                          <thead>
                              <tr >
                                  <th class="w100">Avatar</th>
                                  <th>Correo</th>
                                  <th>Nombre</th>
                                  <th class="w140">Role</th>
                                  <th class="w100">Auth</th>
                                  <th class="text-nowrap w100">Acciones</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let usuario of usuarios">
                                  <td class="text-center">
                                    <img [src]="usuario.imagenUrl" alt="Avatar" 
                                    (click)="abrirModal( usuario )" class="avatar cursor  rounded-circle z-depth-2">
                                  </td>
                                  <td>{{ usuario.email}}</td>
                                  <td>{{ usuario.nombre}}</td>
                                  
                                  <td>
                                    <select  class=" form-control "
                                        [(ngModel)]="usuario.role"
                                         (change)="cambiarRole( usuario )">
                                        <option value="ADMIN_ROLE">Admin</option>
                                        <option value="USER_ROLE">User</option>
                                    </select>
                                  </td>
                                 
                                  <td>
                                    <span *ngIf="!usuario.google" class="label label-info">Email</span>
                                    <span *ngIf="usuario.google" class="label label-success">Google</span>
                                  </td>
                                  
                              
                                  <td class="text-nowrap text-center">
                                  
                                     
                                      <a data-toggle="tooltip" class="cursor" 
                                      data-original-title="Borrar"
                                      (click)="eliminarUser( usuario )">
                                    <i class="fa fa-trash-o text-danger fa-lg"></i> </a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>

                <div *ngIf="txtTermino.value.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-themecolor">Anterior</button>
                    &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-themecolor">Siguiente</button>

                </div>
                  
              </div>
          </div>
      </div>
      </div>
     
