
<div class=" row animated fadeIn fast">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Doctor</h4>
                <h6 class="card-subtitle">Actualizar información</h6>
                <form class="form-horizontal p-t-20"
                    [formGroup]="doctorForm"
                    (submit)="guardarDoctor()">
                    
                    <div class="form-group row"
                          *ngIf=" doctorSeleccionado">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Foto</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <img [src]="doctorSeleccionado.img | imagen:'doctores'" 
                                     class="avatar cursor  rounded-circle z-depth-2 w130 ">
                            </div>
                        </div>
                    </div>



                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" 
                                formControlName = "nombre"
                                 class="form-control"
                                 id="exampleInputuname3"
                                 placeholder="Nombre del doctor"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Hospitales</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select class="form-control" 
                                 formControlName="clinica">
                                    <option value="">Seleccione la clinica</option>
                                    <option *ngFor="let clinica of clinicas " 
                                     [value]="clinica._id">
                                      {{clinica.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                                     
                    
                    
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                          
                            <button type="submit" 
                            [disabled] = "doctorForm.invalid"
                            class="btn btn-success waves-effect waves-light">
                            <i class="fa  fa-floppy-o text-sucess fa-lg   px-2">
                            </i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6  animated fadeIn fast" *ngIf="clinicaSeleccionada">
     <div class="card">
        <div class="card-body">
            <h4 class="card-title">Clinica</h4>
            <h6 class="card-subtitle">{{ clinicaSeleccionada.nombre }}</h6>

            <img [src]="clinicaSeleccionada.img | imagen:'clinicas' " 
                                     class="avatar cursor  rounded-circle z-depth-2 w130 mx-auto d-block">
        </div>
       </div>
    </div>
</div>