<div class="row animated fadeIn fast">
    
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-search"></i></div>
               <input type="text"
                      class="form-control"
                      placeholder="Buscar doctores.."
                      #txtTermino
                      (keydown)="buscarDoctor( txtTermino.value )"
                      />
                  
                </div>
            </div>
            <div class="load-bar  animated fadeIn fast"
            *ngIf="cargando">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
               
              </div> 
        </div>
    </div>
    
  </div>

    <div class="row animated fadeIn fast"
     *ngIf="!cargando">
         <div class="col-12">
        <div class="card">
            <div class="card-header bg-theme">
                <h4 class="m-b-0 text-white">Información doctores</h4>
            </div>
         <div class="card-body">
            <div class="row">

                <div class="col-8">
                <h4 class="card-title">Total de doctores ( {{ doctores.length }} ) </h4>
                <h6 class="card-subtitle">Doctores registrados</h6>
                </div>
                
                <div class="col">
                    <div class=" text-right">
                        <a  routerLink="/dashboard/doctor/nuevo" class="cursor btn btn-themecolor"
                        
                        ><i class=" fa fa-hospital-o"></i>
                            crear doctores  
                    </a>
                       </div>   
                </div>
                
            </div>
         
                  
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr >
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let doctor of doctores"  >
                               
                                <td class="text-center">
                                    
                                  <img [src]=" doctor.img | imagen :'doctores' " 
                                       [alt]="doctor.nombre" 
                                       (click)="abrirModal( doctor )" class="avatar cursor  rounded-circle z-depth-2">
                                </td>
                                <td> 
                                <input type="text" 
                                class="form-control"
                                 placeholder="Nombre doctor"
                                 [(ngModel)]="doctor.nombre"
                                /></td>
                                                                                      
                                
            
                                <td class="text-nowrap ">
                                    <a [routerLink]="['/dashboard','doctor', doctor._id]"
                                     data-toggle="tooltip" class="cursor " 
                                     data-original-title="Guardar">
                                   <i class=" fa fa-pencil-square-o text-sucess fa-lg   px-2"></i>
                                   </a>
                                   
                                    <a (click)="eliminarDoctor( doctor )"
                                    data-toggle="tooltip" class="cursor" 
                                    data-original-title="Borrar">
                                   <i class="fa fa-trash-o text-danger fa-lg"></i>
                                   </a>
                                
                                  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

              <div >
                  <button  class="btn btn-themecolor">Anterior</button>
                  &nbsp;
                  <button  class="btn btn-themecolor">Siguiente</button>

              </div>
                
            </div>
        </div>
    </div>
    
